{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Shop from hell{% endblock title %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<div id="header">
    <a href="/" class="logo">Shop from hell</a>
</div>
<div id="subheader">
    <div class="cart">
        {% with cart|length as total_items %}
            {% if total_items > 0 %}
                Ваша корзина:
                <a href="{% url 'cart:cart_detail' %}">
                    {{ total_items }} items {{ total_items|pluralize }},
                    {{ cart.get_total_price }} руб.
                </a>
            {% else %}
                Ваша корзина пуста
            {% endif %}
        {% endwith %}
    </div>
</div>
<div id="content">
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>